{% extends '__base__.html' %}

{% block title %}反馈{% endblock %}

{% block beforehead %}
<script>

function initVM(data) {
	$('#vm').show();
	var vm = new Vue({
		el: '#vm',
		data: {
			questions: data.questions,
			page: data.page
		},
		methods: {
			delete_question: function (question) {
				var content = question.content.length > 20 ? question.content.substring(0, 20) + '...' : question.content;
				if (confirm('确认要删除反馈“' + question.content + '”？删除后不可恢复！')) {
					postJSON('/api/questions/' + question.id + '/delete', function (err, r) {
						if (err) {
							return error(err);
						}
						refresh();
					});
				}
			}
		}
	});
}



$(function() {
	getJSON('/api/questions', {
		page: {{ page_index }}
	}, function (err, results) {
		if (err) {
			return fatal(err);
		}
		$('#loading').hide();
		initVM(results);
	});
});

</script>

{% endblock %}

{% block content %}

	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li><a href="/manage/comments">评论</a></li>
				<li class="uk-active"><span>反馈</span></li>
				<li><a href="/manage/jwcs">教务处</a></li>
				<li><a href="/manage/zphs">招聘会</a></li>
				<li><a href="/manage/inters">留学信息</a></li>
				<li><a href="/manage/lectures">讲座</a></li>
				<li><a href="/manage/infos">情报</a></li>
				<li><a href="/manage/users">用户</a></li>
			</ul>
		</div>
	</div>
	<div id="error" class="uk-width-1-1"></div>
	<div id="loading" class="uk-width-1-1 uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
	</div>
	<div id="vm" class="uk-width-1-1" style="display:none">
		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th class="uk-width-1-10">作者</th>
					<th class="uk-width-4-10">内容</th>
					<th class="uk-width-2-10">创建时间</th>
					<th class="uk-width-1-10">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-repeat="question: questions" >
					<td>
						<span v-text="question.user_name"></span>
					</td>
					<td>
						<span v-text="question.content"></span>
					</td>
					<td>
						<span v-text="question.created_at.toDateTime()"></span>
					</td>
					<td>
						<a href="#0" v-on="click: delete_question(question)"><i class="uk-icon-trash-o"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-component="pagination" v-with="page"></div>
	</div>

{% endblock %}