{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>
var
	ID = '{{ id }}',
	action = '{{ action }}';
function initVM(inter) {
	var vm = new Vue({
		el: '#vm',
		data: inter,
		methods: {
			submit: function (event) {
				event.preventDefault();
				var $form = $('#vm').find('form');
				$form.postJSON(action, this.$data, function (err, r) {
					if (err) {
						$form.showFormError(err);
					}
					else {
						return location.assign('/inter/' + r.id);
					}
				});
			}
		}
	});
	$('#vm').show();
}
$(function () {
	if (ID) {
		getJSON('/api/inters/' + ID+'/edit', function (err, inter) {
			if (err) {
				return fatal(err);
			}
			$('#loading').hide();
			initVM(inter.inter);
		});
	}
	else {
		$('#loading').hide();
		initVM({
			title: '',
			tim:'',
			place:'',
			url:'',
			content: ''
		});
	}
});
</script>

{% endblock %}

{% block content %}

	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li><a href="/manage/comments">评论</a></li>
				<li><a href="/manage/questions">反馈</a></li>
				<li><a href="/manage/jwcs">教务处</a></li>
				<li><a href="/manage/zphs">招聘会</a></li>
				<li><a href="/manage/inters">留学信息</a></li>
				<li><a href="/manage/lectures">讲座</a></li>
				<li><a href="/manage/infos">情报</a></li>
				<li><a href="/manage/users">用户</a></li>
			</ul>
		</div>
	</div>

	<div id="error" class="uk-width-1-1">
	</div>

	<div id="loading" class="uk-width-1-1 uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
	</div>

	<div id="vm" class="uk-width-2-3">
		<form v-on="submit: submit" class="uk-form uk-form-stacked">
			<div class="uk-alert uk-alert-danger uk-hidden"></div>
			<div class="uk-form-row">
				<label class="uk-form-label">标题:</label>
				<div class="uk-form-controls">
					<input v-model="title" name="title" type="text" placeholder="标题" class="uk-width-1-1">
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">举办时间:</label>
				<div class="uk-form-controls">
					<input v-model="tim" name="tim" type="text" placeholder="举办时间" class="uk-width-1-1">
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">地点:</label>
				<div class="uk-form-controls">
					<input v-model="place" name="place" type="text" placeholder="地点" class="uk-width-1-1">
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">网址:</label>
				<div class="uk-form-controls">
					<input v-model="url" name="url" type="text" placeholder="网址" class="uk-width-1-1">
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">内容:</label>
				<div class="uk-form-controls">
					<textarea v-model="content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;"></textarea>
				</div>
			</div>
			<div class="uk-form-row">
				<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
				<a href="/manage/inters" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
			</div>
		</form>
	</div>

{% endblock %}