{% extends '__base__.html' %}

{% block title %}个人资料{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

<div>
	<div class="uk-text-center">
        <img class="uk-border-circle" width="120" height="120" src="{{ user.image }}">
    </div>
	<div class="uk-width-medium-1-20">
            <h2>用户名：{{ user.name }}</h2>
            <h3>学号：{{ user.school_num }}</h3>
			<p>权限：{{ user.admin }}</p>
			<div class="uk-width-medium-1-20">
				message:{{user.message}}	
			</div>		
			<p><a href="/user/{{user.id}}/change" >修改密码</a></p>
    </div>
</div>
	

{% endblock %}